<!-- chat/templates/chat/room.html -->
{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    {% if no_found %}
    There is no User with  <h1>  {{room_name}} </h1>
    <h3 > User's Online</h1>
        {% for user in user_list %}
        <strong><a href="{% url 'room' user.username %}">{{user}}</a></strong> <br> 
        <br>
        {% endfor %}

    {% else %}
    {% for chat in old_chats %}
        {% if chat.sender == request.user %}
        <p class="sender" >
        <strong>{{chat.messages}} </strong><br>
        <small>{{chat.reciver}}</small>
        </p>
        {% else %}
        <p class="reciver" >
            {{chat.messages}} <br>
            <small>{{chat.sender}}</small>
        </p>

        {% endif %}
    {% endfor %}
    
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        
        function updatePieFact(message){
            var csrftoken = '{{ csrf_token }}';
            var reciver = "{{ room_name}}";
            var data = {
                'message': message,
                "csrfmiddlewaretoken": csrftoken ,
                "reciver": reciver
            };
            $.post(URL, data);
        }
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var chatSocket = new WebSocket('wss://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            var user = "{{ request.user }}"
            var data = {
                'message': message +  "\n"  + user
            };
            chatSocket.send(JSON.stringify(data));
            messageInputDom.value = '';
            updatePieFact(message);
            
        };
    </script>
    {% endif %}
{% endblock %}